<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>线切割机床控制面板</title>
  <link href="/index.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript"></script>
</head>

<body>
  <label class="page-title">登录界面</label>
  <form class="page-form" method="POST" action="http://127.0.0.1:4100/api/login">
    <label class="page-label">用户名:</label>
    <input class="page-input" type="text" name="username" value="simon" required><br>
    <label class="page-label">密码:</label>
    <input class="page-input" type="password" name="password" value="123456" required><br>
    <input class="page-button" type="submit" value="登录">
  </form>
</body>

</html>